/*
   main.css
*/

body
{
    background-color: #f8f8f8;
}

div.UIbase
{
    background-color: #fafae8;
    border: solid;
    border-width: 1px;
    border-color: #c0c0c0;
}

/* the following hacks around the Dash singledatepicker component's default style */
input.DateInput_input
{
    line-height: inherit;
    font-size: 0.85em;
    padding: 0px 0px 0px 4px;
}

/* the following hacks around the Dash dropdown component's default style */
div.Select-control, div.Select-input, div.Select-value
{
    height: 24px;
    line-height: 24px;
}
