/*
   main.css
*/

body
{
    background-color: #fafae0;
}

/* the following hacks around the Dash singledatepicker component's default style */
input.DateInput_input
{
    line-height: inherit;
    font-size: 0.85em;
    padding: 0px 0px 0px 4px;
}

div.Select-control, div.Select-input
{
    height: 24px;
}