.bg-dark {
    background-color: #003B4C !important; /* caltech color */
}

/*.bg-primary {*/
/*    background-color: #FF6C0C !important; !* caltech color *!*/
/*}*/

/*.text-primary-emphasis {*/
/*    color: #FF6C0C !important; !* caltech color *!*/
/*}*/

/*.bg-light {*/
/*    background-color: #C8C8C8 !important; !* caltech color *!*/
/*}*/

/* Make the card header more compact */
.card-header {
    padding: 5px 10px;    /* Adjust padding */
    font-size: 14px;      /* Smaller font size for the header */
}

/* Make the card body more compact */
.card-body {
    padding: 8px 10px;    /* Adjust padding */
    font-size: 14px;      /* Smaller font size for the body */
}



.sidebar-link {
    display: block;
    /*padding: 10px 20px;*/
    color: white !important;
    background-color: var(--bs-gray-500);
    /*background-color: var(--bs-primary-bg-subtle);*/
    /*border-radius: 8px;*/
    /*text-decoration: none;*/
    margin: 5px 0; /* puts a space between the buttons*/
    text-align: center;
    /*transition: background-color 0.3s ease-in-out;*/
}

.sidebar-link.active {
    /*background-color: var(--bs-gray-700) !important;*/
    background-color: #003B4C !important; /* caltech color */
    color: white !important;
    font-weight: bold;
    /*border-radius: 8px;*/
}
.sidebar-link:hover {
    /*background-color: var(--bs-gray-700)!important;*/
    background-color: #003B4C !important; /* caltech color */
}

.user-alert {
    /*border: #003B4C !important;*/
    background-color: var(--bs-success-bg-subtle) !important;
    color: var(--bs-success-text-emphasis) !important;
}

/*.ag-header-cell{*/
/*    background-color: var(--bs-gray-200);*/
/*}*/

/*.ag-header-cell-filtered {*/
/*    !*background-color: var(--bs-gray-600) !important;*!*/
/*    background-color: #76777B !important; !* caltech color *!*/
/*}*/

/*.ag-header-cell-filtered span {*/
/*    !**/
/*        color in ag-header-cell-filtered does not change the filtered cell text color,*/
/*        this component does*/
/*        https://ag-grid.com/angular-data-grid/global-style-customisation-headers/#style-header-on-filter*/
/*    *!*/
/*    color: var(--bs-white) !important;*/
/*    font-weight: bold;*/
/*}*/

/*
    use with dmc switch and dbc switch
*/
.custom-switch .form-check-input:checked input:checked + .mantine-Switch-track{
    background-color: #003B4C !important; /* caltech color *!*/
    border: 0px solid #003B4C !important; /* Change border color */
    /*font-size: 12px;*/
}
.custom-switch .mantine-Switch-track{
    font-size: 12px;
}

.custom-switch .form-check-input:checked {
    background-color: #003B4C !important; /* caltech color *!*/
    border: 0px solid #003B4C !important; /* Change border color */
}
