
:root {
    --cal-tech-color-1: #003B4C;
    --cal-tech-color-2: #FF6C0C;
    --cal-tech-color-3: #C8C8C8;
    --cal-tech-color-4: #76777B;

}

/* Make the card header more compact */
.card-header {
    padding: 5px 10px;    /* Adjust padding */
    font-size: 14px;      /* Smaller font size for the header */
}

/* Make the card body more compact */
.card-body {
    padding: 8px 10px;    /* Adjust padding */
    font-size: 14px;      /* Smaller font size for the body */
}

.user-alert {
    background-color: var(--cal-tech-color-2) !important;
}


.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--cal-tech-color-1);
    --bs-btn-border-color: var(--cal-tech-color-1);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #003442;
    --bs-btn-hover-border-color: #003442;
    --bs-btn-focus-shadow-rgb: 76,91,106;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #003442;
    --bs-btn-active-border-color: #003442;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--cal-tech-color-1);
    --bs-btn-disabled-border-color: var(--cal-tech-color-1);
}