.bg-dark {
    background-color: #003B4C !important; /* caltech color */
}

/*.bg-primary {*/
/*    background-color: #FF6C0C !important; !* caltech color *!*/
/*}*/

/*.text-primary-emphasis {*/
/*    color: #FF6C0C !important; !* caltech color *!*/
/*}*/

/*.bg-light {*/
/*    background-color: #C8C8C8 !important; !* caltech color *!*/
/*}*/

/* Make the card header more compact */
.card-header {
    padding: 5px 10px;    /* Adjust padding */
    font-size: 14px;      /* Smaller font size for the header */
}

/* Make the card body more compact */
.card-body {
    padding: 8px 10px;    /* Adjust padding */
    font-size: 14px;      /* Smaller font size for the body */
}



.sidebar-link {
    display: block;
    /*padding: 10px 20px;*/
    color: white !important;
    background-color: var(--bs-gray-500);
    /*background-color: var(--bs-primary-bg-subtle);*/
    /*border-radius: 8px;*/
    /*text-decoration: none;*/
    margin: 5px 0; /* puts a space between the buttons*/
    text-align: center;
    /*transition: background-color 0.3s ease-in-out;*/
}

.sidebar-link.active {
    /*background-color: var(--bs-gray-700) !important;*/
    background-color: #003B4C !important; /* caltech color */
    color: white !important;
    font-weight: bold;
    /*border-radius: 8px;*/
}
.sidebar-link:hover {
    /*background-color: var(--bs-gray-700)!important;*/
    background-color: #003B4C !important; /* caltech color */
}

.user-alert {
    /*border: #003B4C !important;*/
    background-color: var(--bs-success-bg-subtle) !important;
    color: var(--bs-success-text-emphasis) !important;
}
